    <div *ngIf="dati">
        <div *ngFor="let drink of dati.drinks" class="d-flex flex-wrap gap-5 px-5">
            <h1 class="w-100 fs-titolo text-white text-uppercase text-center d-flex align-items-center gap-5 justify-content-center">{{ drink.strDrink }}</h1>
                <div class="col-lg-4" ><img src={{drink.strDrinkThumb}} class="w-100" alt=""></div>
            <div class="col-lg-7 gap-4 d-flex flex-wrap">
                <h2 class="fs-1 text-uppercase w-100">ingredienti</h2>
                <h5 class="w-100">Clicca su un ingrediente per vedere quanti altri drink si possono fare</h5>
                <div class="d-flex gap-5 col-12 flex-wrap">
                    <div *ngFor="let dati of datiSommati" class="d-flex col-lg-3 col-5">
                        <a routerLink="/ingrediente/{{ dati.ingredients }}"  class=" d-flex flex-column align-items-center gap-3 text-white text-decoration-underline">
                            <img src={{dati.immagini}} class="w-75" alt="">
                            <div class="d-flex justify-content-center gap-1 text-center">
                                <p>{{dati.ingredients}}</p>
                                <p>{{dati.measure}}</p>
                            </div>
                        </a>
                    </div>
                </div>
                <h2 class="fs-1 text-uppercase w-100">preparazione</h2>
                <p class="fs-5 fw-semibold">{{drink.strInstructionsIT}}</p>
            </div>
        </div>
    </div>
    
    
   